In [1]:
print("Amaylia Ayu Kusumaningtyas-200601110088-Rangkuman Pandas")

Amaylia Ayu Kusumaningtyas-200601110088-Rangkuman Pandas

## Pandas

* Pandas is derived from the term      "panel data",an econometrics term for data sets that include observations over multiple   time periods for the same individuals. 

* Pandas adalah sebuah librari berlisensi BSD dan open source yang menyediakan struktur data dan analisis data yang mudah       digunakan dan berkinerja tinggi untuk bahasa pemograman Python.

* Librari analisis data yang memiliki struktur data yang diperlakukan untuk mengkonversi data mentah ke dalam bentuk / format   tabel sehingga memudahkan untuk analisis.

## DataFrame

* Struktur data dasar pandas dinamakan DataFrame 
* Koleksi kolom berurutan dengan bentuk sebuah tabel yang tampak seperti database dimana sebuah baris tunggal mewakili sebuah   data tunggal dan kolom mewakili atribut tertentu
* Dengan adanya fitur dataframe memudahkan untuk membaca sebuah file dan menjadikan table.

## Apa yang bisa dilakukan Pandas ?

* Read from and write to CSV, other file and database.
* Calculate statisticss and answer question about the data, like What's   the average, median, max, or min of   each column ?
     * Does column A correlate with column B ?
     * What does the distribution of data in column C look like ?
* Clean the data by doing things like removing missing values and filtering rows or columns by some criteria Visualize the data with help from Mtplotlib. Plot bars, lines histograms, bubbles, and more.
* Kita juga dapat mengolah data dengan menggunakan operasi seperti join, distinct, group by, agregasi, dan teknik lainnya yang terdapat pada SQL.

## Install dan Import

* Install :
    * conda install pandas atau
    * pip install pandas
* Jika akan menggunakan di dalam program, perlu dilakukan import :
    * import pandas
    * atau biasanya untuk menyingkat penulisan saat diakses, maka diberi nama alias, misalnya "pd"
    * import pandas as pd

## Pembuatan DataFrame

* Dataframe dapat terbentuk berasal dari hasil pembacaan data atau bisa juga dibuat sendiri (created from the scratch)
* Banyak cara untuk membuat dataframe, cara paling sederhana adalah dengan menggunakan sstruktur data dict dalam python
* Contoh :
    * Misal akan dibuat dataframe penjualan apple dan orange
    * Kolom berisi jenis buah, sedangkan setiap baris berisi besarnya penjualan

Pandas merupakan salah satu package yang sangat membantu kita dalam pengolahan data dengan menggunakan bahasa Python. Hal ini karena pada pandas menyediakan fitur dataframe. Dengan dataframe, kita bisa menjadikan file terbaca menjadi sebuah tabel. File yang didukung seperti .txt, .csv, .tsv, dan lainnya.

## Mengimpor Pandas

In [6]:
import pandas as pd

## Import .txt

Siapkan dahulu file txt (dengan jarak antar data misal menggunakan tab) di folder yang sama dengan program.

In [7]:
data1 = pd.read_csv("data.txt")
print(data1)

   A\tB
0  1\t2
1  4\t3
2  4\t2

In [8]:
data2 = pd.read_csv("data.txt", delimiter = "\t")
print(data2)

   A  B
0  1  2
1  4  3
2  4  2

## Import .csv

Siapkan terlebih dahulu file csv di folder yang sama dengan program

In [9]:
data3 = pd.read_csv("data.txt")
print(data3)

   A\tB
0  1\t2
1  4\t3
2  4\t2

In [10]:
data4 = pd.read_csv("data.txt", delimiter = "\s+")
print(data4)

   A  B
0  1  2
1  4  3
2  4  2

## Melihat Tabel

In [11]:
#semua
data2

   A  B
0  1  2
1  4  3
2  4  2

In [12]:
#sebagian yang di atas (karena datanya sedikit maka yang tampil semua, silahkan mencoba dengan data yang lebih banya lagi sendiri)
data2.head()

   A  B
0  1  2
1  4  3
2  4  2

## Membuat Dataframe sendiri

In [15]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [17]:
data = [1,2,3,4,5]
df1 = pd.DataFrame(data)
print(df1)

   0
0  1
1  2
2  3
3  4
4  5

In [19]:
data = [["Purwanto",32],["Purnomo",43],["Purwo",55]]
df2 = pd.DataFrame(data,columns=["Nama", "Usia"])
print(df2)

       Nama  Usia
0  Purwanto    32
1   Purnomo    43
2     Purwo    55

## Memanggil data tertentu pada dataframe

Misal kita mempunyai dataframe sebagai berikut :

In [20]:
data = [["Purwanto",32],["Purnomo",43],["Purwo",55]]
df2 = pd.DataFrame(data,columns=["Nama", "Usia"])
print(df2)

       Nama  Usia
0  Purwanto    32
1   Purnomo    43
2     Purwo    55

Dan ingin memanggil kolom tertentu

In [21]:
df2["Nama"]

0    Purwanto
1     Purnomo
2       Purwo
Name: Nama, dtype: object

In [22]:
df2["Usia"]

0    32
1    43
2    55
Name: Usia, dtype: int64

In [23]:
df2["Nama"][0]

'Purwanto'

In [24]:
df2.iloc[0][0]

'Purwanto'

In [25]:
df2.loc[0]["Nama"]

'Purwanto'

In [26]:
df2.loc[:,"Nama"]

0    Purwanto
1     Purnomo
2       Purwo
Name: Nama, dtype: object

## Ekspor DataFrame

In [34]:
#import pandas dan numpy
import pandas as pd
import numpy as np
#Misal kita punya satu dataframe
data = [[1,32],[2,43],[4,55]]
df = pd.DataFrame(data,columns=["Nama","Usia"])
#Convert ke numpy array
databaru = df.to_numpy()
print(databaru)
#Convert ke txt
df.to_csv("dataexport.txt")
#Convert ke csv
df.to_csv("dataexport.csv")

[[ 1 32]
 [ 2 43]
 [ 4 55]]